<?xml version="1.0"?>
<robot name="ellipsoid">
  <link name="ellipsoid">
    <!-- 可视化 -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="ellipsoid_balloon.stl" scale=".2 .2 .2"/>
      </geometry>
    </visual>
    <!-- 碰撞 -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="ellipsoid_balloon.stl" scale=".2 .2 .2"/>
      </geometry>
    </collision>
    <!-- 惯性 -->
    <inertial>
      <mass value="0"/>
      <inertia ixx="0.03" ixy="0.0" ixz="0.0" iyy="0.02" iyz="0.0" izz="0.01"/>
    </inertial>
  </link>
</robot>
