<launch>
    <arg name = "drone_id" default = "1"/>
    <arg name = "ctrl_mode" default = "mpCtrl"/>
    <include file="$(find mavros)/launch/px4.launch">
        <!-- <arg name="fcu_url" value="/dev/ttyACM0:921600"/> -->
        <arg name="fcu_url" value="udp://:14550@127.0.0.1:18570"/>

        <!-- <arg name="gcs_url" value="udp://:14556@10.42.0.173:14550"/> -->
    </include>

    <node name = "uav_ctrl" pkg = "control_for_gym" type = "uav_ctrl" output = "screen">
        <remap from="~vel_cmd" to="/airgym/cmd"/>
        <param name ="drone_id" value="$(arg drone_id)"/>
        <param name ="ctrl_mode" value="$(arg ctrl_mode)"/>
    </node>
</launch>
